.imagePreview {
    display: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: 0.3s;
}

.imagePreview:hover,
.round:hover {
    opacity: 0.7;
    cursor: pointer;
}

.imageUploader {
    display: none;
}

.round {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(179, 179, 179);
}
