.cate-bg {
  max-width: 100%;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: var(--product-container-bg);
}

.cate-img-size {
  width: 180px;
  height: 180px;
}

.cate-banner {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 10px -15px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  background-color: var(--gray-bg);
  .cate-name {
    text-align: start;
  }
  img {
    margin-right: 2rem;
  }
  h2 {
    color: var(--black-cate-name);
    width: 100%;
  }
}

.product-section {
    margin-top: 1rem;
    width: 90%;
}

.child-category {
  width: 90%;
}