.slick-track {
    height: fit-content !important;
}

.section__loading {
    text-align: center;
}

.ant-radio-button-wrapper:hover {
    color: var(--title-color-dark);
}

.ant-radio-button-wrapper {
    border-left-width: 1px;
    text-align: center;
    line-height: 0px;
    padding: 1.5rem 1rem;
    border-radius: 5px;
}

.product__right {
    padding: 0 2rem;
}

.product__left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: sticky;
    top: 8%;
    height: fit-content;
}

.images__list {
    width: 10%;
}

.images__wrapper {
    border-radius: 10px;
}

.chosed-config {
    border: 2px solid rgba(71, 71, 71, 0.458);
    border-radius: 5px;
    overflow: hidden;
}

.product__detail {
    .product__detail__container {
        grid-template-columns: 3fr 2fr;
        max-width: 1350px;
        min-height: 60vh;
    }

    .product__image {
        width: 90%;
        height: 100%;
    }

    .product__title {
        position: sticky;
        top: 6%;
        background-color: white;
        z-index: 1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 2px rgba(122, 122, 122, 0.1);
    }

    .product__info {
        font-size: 1.3rem;
        p {
            font-size: 1rem;
            white-space: pre-wrap;
        }
        span {
            margin-bottom: 10px;
            display: block;
        }
    }

    .product__name {
        font-size: 1.8rem;
    }

    .product__price {
        font-size: 1.2rem;
        word-break: break-all;
    }

    .product__size-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.4rem;
        margin-bottom: 0.1rem;
    }

    .product__variant-title {
        display: flex;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        justify-content: space-between;

        .size__table {
            color: var(--input-color);
            cursor: pointer;
        }
    }

    .round-button {
        margin-top: 2rem;
        font-size: 1.1rem;
        line-height: 0.1rem;
        padding: 2rem 2rem;
        font-weight: 400;
    }

    .product__description {
        font-size: 1rem;
    }

    .ant-radio-button-wrapper-checked {
        span {
            color: var(--title-color-dark) !important;
        }
    }

    .product__color-wrapper {
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 1.5rem;
        gap: 2px;
        .ant-radio {
            display: none;
        }
        .ant-radio-wrapper {
            span {
                padding-left: 0;
                padding-right: 0;
            }
        }

        img {
            border-radius: 3px;
        }

        .ant-radio-wrapper-checked img {
            border: 1px solid var(--title-color-dark);
        }
    }
    .switch-field {
        flex-wrap: wrap;
    }

    .switch-field label {
        padding: 0;
        width: fit-content;
        box-shadow: none;
        display: block;
        // height: fit-content;
        img {
            width: 70px;
            border-radius: 5px;
        }

        .variant__size {
            width: 115px;
            padding: 20px;
        }
    }
}
