.disable-nav{
    display: none;
}

.new__header__container{
    background-color: var(--background-color-dark);
    color: var(--body-color);
    height: 412px;
}

.new-page{
    position: relative;
    .new__header-logo{
        width: 60px;
        height: 60px;
        transform: scale(1.35);
    }

    .new__header-content{
        grid-template-columns: 1fr 2fr;
    }

    .news__header-description,
    .news__header-title{
        display: flex;
        align-items:center;
    }
}

