@import './hotnew';
@import './nav';
@import './menu';
.header{
    background-color: #D78181;
}

.menu{
    min-height: 2.25rem;
    display: flex;
    justify-content: end;
    background-color: var(--content-color);
}

.nav{
    background-color: var(--body-color);
    min-height: 3.75rem;
}

.hot-new{
    background-color: var(--content-color);
    min-height: 3.625rem;
}

