.header{
    background-color: #D78181;
}

.menu{
    background-color: rgb(121, 9, 76);
    min-height: 2.25rem;
}

.nav{
    background-color: rgb(225, 103, 176);
    min-height: 7.625rem;
}

.hot-new{
    background-color: rgb(176, 50, 187);
    min-height: 3.125rem;
}
