.home {
    padding: 0;
    padding-bottom: 1rem;
}

.home__banner {
    background-color: #e1dca8;
    height: 48.125rem;
}

.home__container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.banner__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 48.125rem;
    justify-self: center;
}

.section {
}
